<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nova Reserva Solicitada</h1><br>
    <h2>Nome do(a): <b><%= @user.nome %></b>.</h2><br>
    <h2>Email: <%= @user.email %></h2> <br>
    <h3>Telefone: <%= @user.telefone %> <br>
    <h3>Celular: <%= @user.celular %> <br>
    <h3>Whatsapp?: <%= @user.wpp %> <br>
    <h3>Número de pessoas: <%= @user.quantidade %> <br>
    <h3>Chegada: <%= @user.chekin %> <br>
    <h3>Saída: <%= @user.checkout %> <br>
    <br>
  </body>
</html>
