<center><h1>Quartos</h1></center>


<div class="container" id="servicos">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	  <p>Quartos com uma excelente estrutura. </p>
	  <p>Locais onde você poderá descansar ou adequar ao seu momento presente.</p>
        <ul>
          <li>Casal</li>
          <li>Solteiro</li>
          <li>Personalizados</li>
        </ul>

  </div>
  <div class="col-md-2"></div>
</div>
<div class="container">
	<br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-4 col-sm-4">
			<%= image_tag 'solteiro2.jpg', :class =>'super-imagem' %>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-4 col-sm-4">
			<%= image_tag 'solteiro4.jpg', :class =>'super-imagem' %>
		</div>
		<div class="col-md-1"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-4 col-sm-4">
			<%= image_tag 'solteiro3.jpg', :class =>'super-imagem' %>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-4 col-sm-4">
			<%= image_tag 'personalizado2.jpg', :class =>'super-imagem' %>
		</div>
		<div class="col-md-1"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-4 col-sm-4">
			<%= image_tag 'personalizado1.jpg', :class =>'super-imagem' %>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-4 col-sm-4">
			<%= image_tag 'casal.jpg', :class =>'super-imagem' %>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>


<br>
<center><%= link_to 'Reservar!', new_reserva_path, class: "btn btn2" %></center>
<br>