<div class="wrapper row3">
  <figure class="hoc container clear"> 
    <figcaption class="sectiontitle">
      <h6 class="heading">Alguns de nossos quartos</h6>
    </figcaption>
    <ul class="nospace group overview">
      <li class="one_third"><%= image_tag 'foto1.jpg', :class =>'gray' %></li>
      <li class="one_third"><%= image_tag 'foto5.jpg', :class =>'gray' %></li>
      <li class="one_third"><%= image_tag 'foto3.jpg', :class =>'gray' %></li>
      <li class="one_third"><%= image_tag 'foto2.jpg', :class =>'gray' %></li>
      <li class="one_third"><%= image_tag 'foto6.jpg', :class =>'gray' %></li>
      <li class="one_third"><%= image_tag 'foto7.jpg', :class =>'gray' %></li>
    </ul>
  </figure>
</div>