<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">O que nós oferecemos?</h6>
      <p>Confira algumas de nossas inúmeras opções na hospedagem.</p>
    </div>
    <ul class="nospace group overview services">
      <li class="one_third">
        <article><%= link_to 'servicos/index' do %><i class="fa fa-wifi"></i><% end  %>
          <h6 class="heading"><a href="#">Internet com Wi-fi</a></h6>
          
          <%#  <footer><a href="#">View Details &raquo;</a></footer> %>
        </article>
      </li>
      <li class="one_third">
        <article><%= link_to 'servicos/index' do %><i class="fa fa-bed"></i><% end  %>
          <h6 class="heading"><a href="#">Quartos com suítes</a></h6>
         <%#  <p>Maecenas a nunc rhoncus imperdiet quam vitae vulputate quam curabitur auctor&hellip;</p>
           <footer><a href="#">View Details &raquo;</a></footer> %>
        </article>
      </li>
      <li class="one_third">
        <article><%= link_to 'servicos/index' do %><i class="fa fa-car"></i><% end  %>
          <h6 class="heading"><a href="#">Estacionamento</a></h6>
         <%#  <p>Metus tempor viverra class aptent taciti sociosqu ad litora torquent per conubia&hellip;</p>
           <footer><a href="#">View Details &raquo;</a></footer> %>
        </article>
      </li>
      <li class="one_third">
        <article><%= link_to 'servicos/index' do %><i class="fa fa-shower"></i><% end  %>
          <h6 class="heading"><a href="#">Banho quente</a></h6>
         <%#  <p>Maecenas dapibus mauris finibus pharetra a cras mi ut pharetra faucibus commodo&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer> %>
        </article>
      </li>
      <li class="one_third">
        <article><%= link_to 'servicos/index' do %><i class="fa fa-coffee"></i><% end  %>
          <h6 class="heading"><a href="#">Café da Manhã</a></h6>
          <%#  <p>Volutpat phasellus et imperdiet augue vivamus finibus dolor molestie consequat&hellip;</p>
         <footer><a href="#">View Details &raquo;</a></footer> %>
        </article>
      </li>
      <li class="one_third">
        <article><%= link_to 'servicos/index' do %><i class="fa fa-road"></i><% end  %>
          <h6 class="heading"><a href="#">Fácil acesso</a></h6>
          <%#  <p>Tellus in egestas odio velit feugiat neque phasellus non pulvinar quam fringilla&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer> %>
        </article>
      </li>
    </ul>
    <footer class="center"><%= link_to 'Servicos', servicos_index_path, class: "btn" %></footer>
  </section>
</div>